@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section metatags {
    <meta name="author" content="SHOEB AHMED KHAN" />
    <meta name="application-name" content="Sample Application for Docker" />

}

<div class="text-center" onmousedown='return false;' onselectstart='return false;'>
    <h1 class="display-4">Welcome To My Repo</h1>
	<p>Learn about Building A Test Web apps with ASP.NET Core with Dcoker, Kubernetes and Jenkins</a>.</p>
    <p>Checkout into <a href="https://github.com/shoeb816/asp-net.git" target="_blank" rel="noopener noreferrer">Repo for ASP.NET Core Sample App</a>.</p>
	<p>Make Life easy with <a href="https://github.com/shoeb816/kubernetes_vagrant.git" target="_blank" rel="noopener noreferrer">Vagrant</a>.</p>
	<p>No more Manual when you know Ansible <a href="https://github.com/shoeb816/asp-net.git" target="_blank" rel="noopener noreferrer">Kubernetes-Ansible</a>.</p>
	<p>Read <a href="https://github.com/shoeb816/jenkins/blob/master/Jenkins_docker_kubernetes_deployment/Jenkinsfile" target="_blank" rel="noopener noreferrer"">CI\CD Pipeline</a>. **without permission you cannot!**</p>
	Copyright @@ @DateTime.Now.Year

</div>
